{% extends "base.html" %}

{% block content %}
<div class="row"><div class="span8" style="text-align: right;">
  <a href="/admin" class="btn btn-small">All</a>
  {% for i in _s_i %}
    <a href="/admin?status={{i}}" class="btn btn-small btn-{{_s_b_class[i]}}">{{_s_text[i]}}</a>
  {% endfor %}
</div></div>
<div class="row"><div class="span8">
  <table class="table table-striped">
    <thead><tr>
      <td class="span1">Status</td>
      <td class="span1"></td>
      <td>File name</td>
      <td class="span3">Created</td>
    </tr></thead>
    {% for status in statuses %}
    <tr>
      <td>
        <span class="label label-{{_s_l_class[status.status]}}">{{_s_text[status.status]}}</span>
      </td>
      <td>
        <a href="#" rel="popover" title="Log" data-content="{{status.comment}}">
          <i class="icon-info-sign"></i>
        </a>
      </td>
      <td>{{status.filename}}</td> 
      <td>{{status.created}}</td>
    </tr>
    {% endfor %}
    {% if not statuses %}
      <tr><td colspan="4"><div class="alert">No entries ...</div></td></tr>
    {% endif %}
  </table>
</div></div>

{% endblock %}