<p class="pull-right"><a href="#">Back to top</a></p>

<p>Created by <b>Soe</b> <a href="http://www.cloudspokes.com/members/soe" target="_blank"><code>@soe</code></a> for CloudSpokes challenge. 
  <a href="https://vimeo.com/42798626" target="_blank">ScreenCast</a> | 
<a href="https://bit.ly/groupin-soe" target="_blank">Documentation</a> |
  <a id="credits" href="#" title="Credits" data-content="Twitter BootStrap for UI<br />Gdata client for Groups access<br />jQuery for magical effects<br />AppEngine for hosting">Credits</a>
</p>