<div class="row">
	<div class="span8">
	{% if login_url %}
	  <!--<a href="{{login_url}}" class="btn btn-primary pull-right">
	    <i class="icon-white icon-ok"></i> Login via Google
	  </a>-->
	{% endif %}
	{% if logout_url %}
	  <a href="{{logout_url}}" class="btn btn-primary pull-right">
	    <i class="icon-white icon-off"></i> Logout
	  </a>
	{% endif %}
    <h3 style="background: url('/static/img/groupin.png') no-repeat; padding-left: 32px;">
      SuperSupport - 
      <span style="font-size: 82%; color: #888;">{{where}}</span>
    </h3>
  	<hr />
	</div>
</div>