{% extends "base.html" %}

{% block content %}  
<div class="row">
	<div class="span8 "><div class="alert alert-info">
  	<h3>Welcome to GroupIn!</h3>
  	<p>
      This is a RESTful web service to accept CSV files which are then parsed and process to synchronize group memberships via Google Apps Provision.
    </p>
    <p>
      <i class="icon-facetime-video"></i>&nbsp;<a href="https://vimeo.com/42798626" target="_blank">ScreenCast</a> | <i class="icon-file"></i>&nbsp;<a href="http://bit.ly/groupin-soe" target="_blank">Documentation</a>
    </p>
    <br />
    <p>
      <b>Demo admin</b>: 
      <code>username: groupin@soe.im</code>
      <code>password: groupin2012</code>
    </p>
    <p>
      <a href="{{login_url}}" class="btn btn-primary">
        <i class="icon-white icon-ok"></i> Login via Google
      </a>
    </p>		   
  </div></div>
</div>
<div class="row">
	<div class="span8">
	<div style="text-align: center;"><iframe src="http://player.vimeo.com/video/42798626?title=0&amp;byline=0&amp;portrait=0" width="580" height="327" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
	</div>
</div>
{% endblock %}