{% extends "base.html" %}

{% block content %}  
<div class="row">
	<div class="span8 "><div class="alert alert-info">
  	<h3>Welcome to SuperSupport!</h3>
  	<p>
      This is a web service to provide chat support for children with questions.
    </p>
    <p>
      email: demo@soe.im<br />
      password: demo1234
    </p>
    <p>
      <i class="icon-facetime-video"></i>&nbsp;<a href="https://vimeo.com/" target="_blank">ScreenCast</a> | <i class="icon-file"></i>&nbsp;<a href="http://bit.ly/" target="_blank">Documentation</a>
    </p>
    <br />
    <p>
      <a href="{{login_url}}" class="btn btn-primary">
        <i class="icon-white icon-ok"></i> Login via Google
      </a>
    </p>		   
  </div></div>
</div>
{% endblock %}